<!DOCTYPE html>
<html lang="en">


<header>
    <nav>


        <div class="row align-middle pb-2 pt-1">
            <div>
                <a href="{{ url_for('index')}}"> <img src="static/images/logo.png" class="img-fluid col-md-2 pl-4 pr-0" style=""/> </a>
                <a href="{{ url_for('index') }}" class="col p-3 ml-2 align-middle nav-button">Home</a>
                <a href="{{ url_for('friends') }}" class="col p-3 ml-2 align-middle nav-button">Friends</a>
                <a href="{{ url_for('venues') }}" class="col p-3 ml-2 align-middle nav-button">Venues</a>
                <a href="{{ url_for('my_profile') }}" class="col p-3 ml-2 align-middle nav-button">My Profile</a>
            </div>
        </div>
    </nav>
</header>


</html>