<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

    <form name="LoginInformation" action="{{url_for('login')}}" method="post">

    {{ form.hidden_tag()}}
    {{ form.csrf_token }}
    <nav>
        <img src="static/images/logo.png" class="img-fluid pl-2" style="height: 100px;"/>
        <span class="title align-middle pl-2"> CROWDS 4 DJ'S </span>
    </nav>
</head>

<body>

    <div class="container text-center">
        <div class="row height-100">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 background rounded align-middle center">


            <h2 class="pt-2">Login:</h2>
                <div class="row pl-4 pt-3 text-left">
                    <h3>Username:</h3>
                    {{form.username(class='input')}}
                    {% for error in form.username.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>

                {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}

                <div class="row pl-4 pt-3 pb-4 text-left">
                    <h3>Password:</h3>
                    {{form.password(class='input')}}
                    {% for error in form.password.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>


            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <div class="container text-center">
        <div class="row mt-5">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
            <form method="post">
                <input type="submit" value="SUBMIT" class="p-4 pt-2">
            </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>


</body>
</html>