{% extends 'layout.html' %}
{% block content %}

<div class="row middle">
    <div class="col-2 search-button" onclick="window.location='/venues'">
        Venues
    </div>
    <div class="col-2 search-button" onclick="window.location='/dj'">
        DJ
    </div>
    <div class="col-2 search-button" onclick="window.location='/artist'">
        Artist
    </div>
    <div class="col-2 search-button" onclick="window.location='/album'">
        Album
    </div>
    <div class="col-2 search-button" onclick="window.location='/songs'">
        Song
    </div>

</div>



{% endblock %}